body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .calculator {
    width: 300px;
    border: 1px solid #ccc;
    padding: 80px;
    background:rgb(165, 160, 160);
    text-align: center;
  }
  #display{
    width: 68%;
    height: 35px;
    background-color: white;
  }
#ac{
    width: 24%;
    background-color: rgb(11, 136, 136);
}
.op{
    background-color: gray;
}
  input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0px;
    border: none;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  button {
    padding: 15px;
    font-size: 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background: #555;
  }
  